Source: dfdatetime
Section: python
Priority: extra
Maintainer: log2timeline development team <log2timeline-dev@googlegroups.com>
Build-Depends: debhelper (>= 7), python-all (>= 2.7~), python-setuptools, python3-all (>= 3.4~), python3-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Homepage: https://github.com/log2timeline/dfdatetime/

Package: python-dfdatetime
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Digital Forensics date and time (dfDateTime).
 dfDateTime, or Digital Forensics date and time, provides date and time objects
 to preserve accuracy and precision.

Package: python3-dfdatetime
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Digital Forensics date and time (dfDateTime).
 dfDateTime, or Digital Forensics date and time, provides date and time objects
 to preserve accuracy and precision.

